In [26]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd
import numpy as np
from scipy.stats import trim_mean   
from statsmodels import robust      
import wquantiles                  

import seaborn as sns
import matplotlib.pylab as plt

In [27]:
conection_string='mysql+pymysql://ironhack_user:o6wg~%uLM=zx@173.201.189.217/eda-challenge'
engine = create_engine(conection_string)
inspector = inspect(engine)
inspector.get_table_names()
df1 = pd.read_sql_query("SELECT * FROM diamonds_city ", engine)
df2 = pd.read_sql_query("SELECT * FROM diamonds_clarity ", engine)
df3 = pd.read_sql_query("SELECT * FROM diamonds_color ", engine)
df4 = pd.read_sql_query("SELECT * FROM diamonds_cut ", engine)
df5 = pd.read_sql_query("SELECT * FROM diamonds_dimensions ", engine)
df6 = pd.read_sql_query("SELECT * FROM diamonds_properties ", engine) 
df7 = pd.read_sql_query("SELECT * FROM diamonds_transactional ",engine)

In [28]:
df7
#df1--city: 13 cities (city id)
#df2--clarity: 8 clarities (clarity id)
#df3--color: 7 colors ( color id)
#df4--cut: 5 quality of cut(cut id) 
#df5--dimensions: 5 variables.40455 values(id of every diamond--index id)
#df6--INDEX relations for every diamond
#df7--PRICE related to index and city (carat is a measure of quality)$
#¿Qué ciudad tiene mas diamantes?

,index_id,price,city_id,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,89c7286890f7347ab235234e74d406596a127ae3679042...,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,10070,5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...,1.34
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,12615,1e73b1647343b286269d517e6f07e6e07ccef10cd7b785...,2.02
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,5457,68371d5bdaab31b5cbc25fbf94b8f9c1238294fc50e715...,1.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,456,5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...,0.33
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,6232,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,1.24

In [39]:
#generate a global Df with all the values

BIG_Df=df6.merge(df7)

In [46]:
masterdf = BIG_Df \
.merge(df3,on='color_id') \
.merge(df2,on='clarity_id') \
.merge(df1,on='city_id') \
.merge(df4,on='cut_id') \
.merge(df5) \
.drop('city_id',axis=1).drop('color_id',axis=1).drop('clarity_id',axis=1).drop('cut_id',axis=1)

In [47]:
masterdf

,index_id,price,carat,color,clarity,city,cut,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,1.21,J,VS2,Kimberly,Premium,62.4,58.0,6.83,6.79,4.25
1,248aa2bdd0032920ac9e5f6ad36c350549da067efeaf7b...,4839,1.20,J,VS2,Kimberly,Premium,60.8,60.0,6.85,6.89,4.18
2,72b31cf00f8ab3967588fad4a32f61622cb162f9b7bc2c...,368,0.30,J,VS2,Kimberly,Premium,60.6,59.0,4.34,4.38,2.64
3,98c53df687f2e9b94da80eef5b9049f1fac456b4c41c80...,5053,1.20,J,VS2,Kimberly,Premium,62.6,57.0,6.80,6.72,4.23
4,5dfe43a321c6834c7de273c73aeadc705d919a5869e0f5...,3593,1.05,J,VS2,Kimberly,Premium,59.4,62.0,6.66,6.58,3.93
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,ae8502b547dea0285938b80c225004b2bae4893f1fd22d...,893,0.58,F,I1,Paris,Fair,66.3,55.0,5.18,5.10,3.41
40451,b86a47eaf9d2b0cf4d6ccab66641ae9dad5a9ad4ea0891...,3734,1.51,F,I1,Paris,Fair,67.8,59.0,7.09,7.00,4.78
40452,d8470d878d49355e06ef439dc1c2c4502ed992623e4dc8...,2037,1.04,I,I1,Paris,Fair,67.3,56.0,6.34,6.23,4.22
40453,23c34d0a9557ec34e03ed4da729b05411ed33ee9b81ed0...,1440,0.37,D,IF,Paris,Fair,61.2,57.0,4.68,4.73,2.88
40454,bfcae0114088c1767863ef9463f93f442215b9c671c24e...,1166,0.37,F,IF,Paris,Fair,52.3,61.0,4.96,4.91,2.58